/* This is the style for intro class */
.intro {
  font-weight: bold;
  text-align: center;
  padding-bottom: 100px;
}

/* Table Styling */
.table {
  align:center;
  width: 50%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
